@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
#root {
	height: 100%;
}

div > ul,
ol {
	list-style-type: decimal;
	margin-left: 24px;
}

body {
	@apply font-sans;
	font-size: 14px;
	font-weight: 400;
	background: #ffffff;
	color: #a5a5a5;

	.ReactModalPortal {
		z-index: 50;
		position: fixed;
	}

	p {
		@apply font-sans;
		font-size: 14px;
		line-height: 1.85714;
		font-weight: 500;
		color: #838293;
	}

	.logo {
		font-size: 36px;
		font-weight: 800;
	}

	.toggleTheme,
	.throwButton {
		height: 59px;
		min-width: 130px;
		padding: 0 22px;
		white-space: nowrap;
	}

	.throwButton {
		background: #8583e1;
		color: #ffffff;
	}

	.descriptionModal p {
		font-size: 24px;
	}
}

.main_title_container {
	@apply flex flex-col items-start justify-end sm:mb-[30px] xl:mb-[72px];
}

.main_content {
	@apply h-auto w-calc-aside pl-[82px] pr-[30px] sm:w-full sm:px-[15px] sm:py-5 lg:px-[30px] lg:py-[30px] xl:px-[80px] xl:pt-[90px];
}

.form__input {
	@apply mb-2 h-10 w-full border-b-2 bg-transparent text-black outline-none transition-all-200 hover:border-b-lightBlue;
}

@media (min-width: 320px) and (max-width: 991px) {
	body .descriptionModal p {
		font-size: 16px;
	}
}
